<form action="/events/create" method="post">
  <label for="organizer_name">Organizer Name:</label><br/>
  <input id="organizer_name" name="organizer_name" type="text" value="Organizer Name"/><br/>
  <label for="organizer_email">Organizer Email:</label><br/>
  <input id="organizer_email" name="organizer_email" type="text" value="Organizer Email"/><br/>
  <label for="event_title">Event Title:</label><br/>
  <input id="title" name="title" type="text" value="Event Title"/><br/>
  <label for="event_date">Event Date:</label><br/>
  <input id="date" name="date" type="text" value="1984-09-07"/><br/>
  <input type="submit">
</form>